html
{
  background: #f3e5f5;

}

.header
{
  border: 1px solid black;
  font-size: 40px;
  height: 100px;
  text-align: center;
}
.item
{
  height: 80px;
  font-size: 30px;
  text-align: center;
  border: 1px solid black;
  background: #ea80fc;
  padding-top: 30px;
  
}

.container
{

  display: flex;
  margin-top: 40px;
}

.item1
{
  flex-basis: 20%;
}
.item2
{

  flex-basis: 80%;
}

button
{
  width: 400px;
  height: 100px;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: #fff59d;
}

.footer
{
  margin-top: 30px;
  font-size: 5px;
  text-align: center;
}